<h1>WishList#index</h1>
<p>Find me in app/views/wish_list/index.html.erb</p>
<div class="row">
    <div class="form-group">
      <form method='post' action="/wish_list_create/" >
        Epic Name <input type="text" name="name" /> <br>
        Created By <input type="text" name="created_by" /> <br>
        <input type="submit" class="btn-submit placeorder" value="place order" />
      </form>
    </div>
</div>
