<h1>Epic#index</h1>
<div class="row">
    <div class="form-group">
      <form method='post' action="/epic_create/" >
        Epic Name <input type="text" name="name" /> <br>
        Description By <input type="text" name="description" /> <br>
        <input type="submit" class="btn-submit placeorder" value="place order" />
      </form>
    </div>
</div>
