<h1>Architects#index</h1>
<p>Find me in app/views/architects/index.html.erb</p>
<div class="row">
    <div class="form-group">
      <form method='post' action="/architect_create/" >
        Architect Id <input type="text" name="architect_id" /> <br>
        Name <input type="text" name="architect_name" /> <br>
        <input type="submit" class="btn-submit placeorder" value="place order" />
      </form>
    </div>
</div>
