<h1>Team#index</h1>
<div class="row">
    <div class="form-group">
      <form method='post' action="/team_create/" >
        Manager Id <input type="text" name="manager_id" /> <br>
        Manager Name<input type="text" name="manager_name" /> <br>
        Team Count<input type="text" name="team_count" /> <br>
        Total Bandwidth<input type="text" name="total_bandwidth" /> <br>
        Allocated Bandwidth<input type="text" name="allocated_bandwidth" /> <br>
        <input type="submit" class="btn-submit placeorder" value="place order" />
      </form>
    </div>
</div>
